.mixologist {
  display: grid;
  grid-template-columns: 20px [main] auto 20px;
  grid-template-rows: 30px 20px fit-content(100%) 20px;
  grid-template-areas:
    "name name name"
    ". . ."
    ". search ."
    ". . ."
    ". ingredients. ";
  grid-auto-rows: minmax(40px, auto);
  border: 2px solid #18181E;
}

.mixologist__name {
  grid-area: name;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #18181E;
}

.mixologist__ingredient-search {
  grid-area: search;
}

.mixologist__ingredient-list {
  grid-area: ingredients;
  overflow: auto;
  margin-left: 0;
  max-height: 600px;
}

.mixologist__ingredient-remove {
  margin-left: auto;
}
